.slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-line {
    overflow: hidden;
}

.slides-block {
    max-width: 1260px;
    min-width: 220px;
    display: flex;
    flex-flow: row;
}

slide {
    min-width: 200px;
    min-height: 160px;
    flex-shrink: 0;
    padding-top: 20px;
    background: white;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    touch-action: pan-y;
}

/*****ARROWS STYLES*******/

.arrow {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: contain;
    user-select: none;
}

.right-arrow {
    background-image: url("/src/assets/img/arrow-right.png");
}

.left-arrow {
    background-image: url("/src/assets/img/arrow-left.png");
}

.right-arrow:hover {
    background-image: url("/src/assets/img/hover-arrow-right.png");
    cursor: pointer;
}

.left-arrow:hover {
    background-image: url("/src/assets/img/hover-arrow-left.png");
    cursor: pointer;
}

/*************************/